// globall variable


// styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

.app {
  display: flex;
  justify-content: center;

  .container {
    width: 85vw;

    .link {
      text-decoration: none;
      color: inherit;
    }

    // LOGIN AND REGISTER

    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: blue;


    }
    

  }
}